{% extends 'website/base.html' %}
{% load static %}

{% block header %}
    <!-- Include only the top bar from the header -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar" style="font-family: Tahoma, sans-serif;">
                    ارسال رایگان برای مشتریان پالادیوم
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="{% url 'website:product-list' %}" class="flex-c-m trans-04 p-lr-25"
                       style="font-family: Tahoma, sans-serif;">
                        صفحه اصلی
                    </a>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_customer %}
                            <a href="{% url 'customers:profile' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                حساب من
                            </a>
                        {% elif request.user.is_staff %}
                            <a href="{% url 'vendors:profile' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                پنل فروشنده
                            </a>
                        {% endif %}
                    {% endif %}


                    {% if request.user.is_authenticated %}
                        <form action="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                              style="font-family: Tahoma, sans-serif;">
                            {% csrf_token %}
                            <a href="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                خروج
                            </a>
                        </form>
                    {% endif %}

                    {# User section #}
                    {% if request.user.is_authenticated %}
                        <div class="flex-c-m trans-04 p-lr-25">
                            {% if request.user.photo %}
                                <img class="rounded-circle" src="{{ request.user.photo.url }}" alt="photo"
                                     width="25">
                            {% else %}
                                <img class="rounded-circle"
                                     src="{% static 'defualt/defualt.jpg' %}" alt="static"
                                     width="25">
                            {% endif %}
                            {% if request.user.username %}
                                {{ request.user.username }}
                            {% elif request.user.phone %}
                                {{ request.user.phone }}
                            {% elif request.user.email %}
                                {{ request.user.email }}
                            {% endif %}

                        </div>
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="flex-c-m trans-04 p-lr-25"
                           style="font-family: Tahoma, sans-serif;">
                            ورود <!-- Login -->
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block slide-section %}
    {#    DO NOT write anything in this block!#}
{% endblock slide-section %}

<!-- banner section -->
{% block banner %}
    {#    DO NOT write anything in this block!#}

{% endblock banner %}
<!-- end banner section -->

{% block content %}


    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92"
             style="background-image: url('{% static 'website/images/bg-01.jpg' %}');">
        <h2 class="ltext-105 cl0 txt-center" style="font-family: Tahoma, sans-serif;">
            ارتباط با ما
        </h2>
    </section>
    <!-- display messages -->
    {% include 'website/sections/message_display.html' %}
    <!-- display messages -->

    <!-- Content page -->
    <section class="bg0 p-t-104 p-b-116">
        <div class="container">
            <div class="flex-w flex-tr">
                <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                    <!-- Django form -->
                    <form method="post" action="{% url 'customers:customer-send-message' %}">
                        {% csrf_token %}
                        <h4 class="mtext-105 cl2 txt-center p-b-30" style="font-family: Tahoma, sans-serif;">
                            ارسال پیام
                        </h4>

                        <!-- Email field -->
                        <div class="bor8 m-b-20 how-pos4-parent">
                            {{ form.email.errors }}
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="email"
                                   placeholder="Your Email Address" value="{{ user.email }}" readonly>
                            <img class="how-pos4 pointer-none" src="{% static 'website/images/icons/icon-email.png' %}"
                                 alt="ICON">
                        </div>

                        <!-- Message field -->
                        <div class="form-group mb-4" dir="rtl">
                            {% if form.message.errors %}
                                <div class="alert alert-danger">
                                    {{ form.message.errors }}
                                </div>
                            {% endif %}

                            {{ form.message }}
                        </div>


                        <!-- Submit button -->
                        <button type="submit"
                                class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer"
                                style="font-family: Tahoma, sans-serif;">
                            ثبت
                        </button>
                    </form>
                </div>

                <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md" dir="rtl">
                    <div class="flex-w w-full p-b-42">
        <span class="fs-18 cl5 txt-center size-211">
            <span class="lnr lnr-map-marker"></span>
        </span>

                        <div class="size-212 p-t-2">
            <span class="mtext-110 cl2" style="font-family: Tahoma, sans-serif;">
                آدرس
            </span>

                            <p class="stext-115 cl6 size-213 p-t-18" style="font-family: Tahoma, sans-serif;">
                                بزودی
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full p-b-42">
        <span class="fs-18 cl5 txt-center size-211">
            <span class="lnr lnr-phone-handset"></span>
        </span>

                        <div class="size-212 p-t-2">
            <span class="mtext-110 cl2" style="font-family: Tahoma, sans-serif;">
                شماره تماس
            </span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                +1 800 1236879
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full">
        <span class="fs-18 cl5 txt-center size-211">
            <span class="lnr lnr-envelope"></span>
        </span>

                        <div class="size-212 p-t-2">
            <span class="mtext-110 cl2" style="font-family: Tahoma, sans-serif;">
                پشتیبانی فروش
            </span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                armaqanalibabaei@gmail.com
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>





{% endblock %}
<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>