{% extends 'website/base.html' %}
{% load custom_filters %}
{% load static %}
{#{% load custom_filters %}#}


{% block content %}

    <!-- display messages -->
    {% include 'website/sections/message_display.html' %}
    <!-- display messages -->




    <div class="slider-container">
        <!-- companies coursel-->
        {% include 'products/companies_coursel.html' %}
        <!-- companies coursel -->
    </div>



    <!-- Product -->
    <div class="bg0 m-t-23 p-b-140">
        <div class="container">
            <style>
                .rating {
                    display: flex;
                    align-items: center;
                }

                .rating .star {
                    font-size: 15px;
                    margin: 0 2px;
                    color: #ccc;
                }

                .rating .star.filled {
                    color: #717fe0;
                }

                .rating .average-rating {
                    margin-left: 10px;
                    font-size: 14px;
                    color: #000000;
                }
            </style>

            <hr>
            <div class="flex-w flex-sb-m p-b-52">
                {% if request.GET.company and filtered_company %}
                    <div class="card mb-3"
                         style="width: 1400px; height: 110px;
                    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(103,116,213,1) 100%);
                    display: flex; align-items: center; justify-content: center;">
                        {% if filtered_company.logo %}
                            <a href="{% url 'website:product-list' %}?company={{ filtered_company.name }}"
                               style="display: block; text-align: center;">
                                <img src="{{ filtered_company.logo.url }}"

                                     style="width: 80px; height: auto;">
                            </a>
                        {% else %}
                            <a href="{% url 'website:product-list' %}?company={{ filtered_company.name }}"
                               style="display: block; text-align: center;">
                                <img src="http://placehold.it/200x150"
                                     alt="Placeholder Image"
                                     style="width: 80px; height: auto;">
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>




            {% if not filtered_company %}
                <div class="p-b-10">
                    <h3 style="font-family: Tahoma, sans-serif;">
                        دسته بندی ها
                    </h3>
                </div>
                <hr>
                <div class="flex-w flex-sb-m p-b-52">
                    <form method="get" action="{% url 'website:product-list' %}">
                        <div class="flex-w flex-sb-m p-b-52">
                            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                                <!-- Show All Products Button -->
                                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
                                        type="submit"
                                        name="category"
                                        value="" style="font-family: Tahoma, sans-serif;">
                                    همه محصولات
                                </button>

                                <!-- Loop Over Categories -->
                                {% for category in categories %}
                                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
                                            type="submit"
                                            name="category"
                                            value="{{ category.name }}" style="font-family: Tahoma, sans-serif;">
                                        {{ category.name }}
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </form>

                    <div class="flex-w flex-c-m m-tb-10">
                        <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                            <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                            <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                            فیلتر
                        </div>

                        <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                            <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                            <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                            جستجو
                        </div>
                    </div>

                    <!-- Search product -->
                    <div class="dis-none panel-search w-full p-t-10 p-b-15">
                        <form method="get" action="{% url 'website:product-list' %}">
                            <div class="bor8 dis-flex p-l-15">
                                <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                                <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search"
                                       placeholder="جستجو" value="{{ request.GET.search }}"
                                       style="font-family: Tahoma, sans-serif; text-align: right;">
                            </div>
                        </form>
                    </div>

                    <!-- Filter -->
                    <div class="dis-none panel-filter w-full p-t-10">
                        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                            <div class="filter-col1 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Sort By
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Default
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Popularity
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Average rating
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                            Newness
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Price: Low to High
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Price: High to Low
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col2 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Price
                                </div>

                                <ul>
                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                            All
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            $0.00 - $50.00
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            $50.00 - $100.00
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            $100.00 - $150.00
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            $150.00 - $200.00
                                        </a>
                                    </li>

                                    <li class="p-b-6">
                                        <a href="#" class="filter-link stext-106 trans-04">
                                            $200.00+
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col3 p-r-15 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Color
                                </div>

                                <ul>
                                    <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Black
                                        </a>
                                    </li>

                                    <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                        <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                            Blue
                                        </a>
                                    </li>

                                    <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Grey
                                        </a>
                                    </li>

                                    <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Green
                                        </a>
                                    </li>

                                    <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                            Red
                                        </a>
                                    </li>

                                    <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

                                        <a href="#" class="filter-link stext-106 trans-04">
                                            White
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="filter-col4 p-b-27">
                                <div class="mtext-102 cl2 p-b-15">
                                    Tags
                                </div>

                                <div class="flex-w p-t-4 m-r--5">
                                    <a href="#"
                                       class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        Fashion
                                    </a>

                                    <a href="#"
                                       class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        Lifestyle
                                    </a>

                                    <a href="#"
                                       class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        Denim
                                    </a>

                                    <a href="#"
                                       class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        Streetstyle
                                    </a>

                                    <a href="#"
                                       class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        Crafts
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


            <div class="row isotope-grid">
                <!-- Loop through products -->
                {% for product in products %}
                    <!-- Example Product Block -->
                    <div class="productContainer">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                            <!-- Block2 -->
                            <div class="block2"
                                 style="display: flex; flex-direction: column; justify-content: space-between;">
                                <!-- Website Image -->
                                <div class="website-logo">
                                    <img src="{% static 'website/images/icons/logo-01.png' %}" alt="Website Logo">
                                </div>

                                <div class="block2-pic hov-img0">
                                    {% if product.images.exists %}
                                        <!-- Display only the first image -->
                                        <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                    {% endif %}
                                    <a href="{% url 'website:product-detail' slug=product.slug %}"
                                       class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04"
                                       style="font-family: Tahoma, sans-serif;">
                                        جزئیات محصول
                                    </a>
                                </div>


                                <!-- Product Details -->
                                <!-- display rate -->
                                {% include 'website/pages/rating.html' %}
                                <!-- display rate -->

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l">
                                        <div class="block2-txt-child2 flex-r p-t-3">
                                            {% if request.user.is_authenticated %}
                                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
                                                   data-product-id="{{ product.id }}">
                                                    <img class="icon-heart1 dis-block trans-04"
                                                         src="{% static 'website/images/icons/icon-heart-01.png' %}"
                                                         alt="ICON">
                                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                         src="{% static 'website/images/icons/icon-heart-02.png' %}"
                                                         alt="ICON">
                                                </a>
                                            {% endif %}

                                        </div>
                                        <span class="stext-105 cl3">${{ product.price|floatformat:1 }}</span>
                                        <div class="rating">
                                            <!-- Display stars -->
                                            {% for star in 1|to:5 %}
                                                <span class="star {% if star <= product.average_rating %}filled{% endif %}"
                                                      data-value="{{ star }}">&#9733;</span>
                                            {% endfor %}
                                            <span class="average-rating">{{ product.average_rating }}</span>
                                        </div>
                                    </div>
                                    <div class="block2-txt-child2 flex-r p-t-3">
                                        <div class="layer-slick1" data-appear="zoomIn" data-delay="1600">
                                            <button data-product="{{ product.id }}" data-action="add"
                                                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                                                    type="button">
                                                Shop Now
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="paginator">
                <!-- paginator-->
                {% include 'website/pages/pagination.html' %}
                <!-- paginator -->
            </div>

        </div>
    </div>

{% endblock %}