<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categories</title>
</head>
<body>
<div class="header shop">
    <div class="all-category">
        <h3 class="cat-heading">
            <i class="fa fa-bars" aria-hidden="true"></i> دسته بندی ها
        </h3>
        <ul class="main-category">
            {% for category in main_categories %}
                <li>
                    <a href="{% url 'website:subcategory_list' category.id %}" class="category-toggle">
                        {{ category.name }} <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                    {% if category.parent_categories.all %}
                        <ul class="sub-category" id="subcategory-{{ category.id }}">
                            {% for subcategory in category.parent_categories.all %}
                                <li>
                                    {{ subcategory.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
