{% extends 'website/base.html' %}
{% load static %}

{% block header %}
    <!-- Include only the top bar from the header -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar" style="font-family: Tahoma, sans-serif;">
                    ارسال رایگان برای مشتریان پالادیوم
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        Help & FAQs
                    </a>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_customer %}
                            <a href="{% url 'customers:profile' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                حساب من
                            </a>
                        {% endif %}
                    {% endif %}

                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        EN
                    </a>

                    {% if request.user.is_authenticated %}
                        <form action="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                              style="font-family: Tahoma, sans-serif;">
                            {% csrf_token %}
                            <a href="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                خروج
                            </a>
                        </form>
                    {% endif %}

                    {# User section #}
                    {% if request.user.is_authenticated %}
                        <div class="flex-c-m trans-04 p-lr-25">
                            {% if request.user.photo %}
                                <img class="rounded-circle" src="{{ request.user.photo.url }}" alt="photo"
                                     width="25">
                            {% else %}
                                <img class="rounded-circle"
                                     src="{% static 'defualt/defualt.jpg' %}" alt="static"
                                     width="25">
                            {% endif %}
                            {% if request.user.firstname %}
                                {{ request.user.firstname }}
                            {% elif request.user.phone %}
                                {{ request.user.phone }}
                            {% elif request.user.email %}
                                {{ request.user.email }}
                            {% endif %}

                        </div>
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="flex-c-m trans-04 p-lr-25"
                           style="font-family: Tahoma, sans-serif;">
                            ورود <!-- Login -->
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block slide-section %}
    {#    DO NOT write anything in this block!#}
{% endblock slide-section %}

<!-- banner section -->
{% block banner %}
    {#    DO NOT write anything in this block!#}

{% endblock banner %}
<!-- end banner section -->




{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="font-family: Tahoma,sans-serif; color: #6c7ae0;">
            <li class="breadcrumb-item"><a href="{% url 'customers:profile' %}" style="color: #6c7ae0;">پروفایل</a></li>
            <li class="breadcrumb-item"><a href="{% url 'customers:profile-edit' %}" style="color: #6c7ae0;">تغییر
                پروفایل</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'customers:customer-address' %}"
                                                                      style="color: #6c7ae0;">تغییر آدرس</a></li>
        </ol>
    </nav>


    <h2 class="text-center py-2" style="font-family: Tahoma,serif;">مدیریت آدرس‌ها</h2>

    <div class="container">
        <div class="main-body mb-3">
            <form method="post" style="font-family: Tahoma,serif;" dir="rtl">
                {% csrf_token %}
                {% if is_editing %}
                    <div class="alert alert-info" role="alert" style="font-family: Tahoma, serif;">
                        شما در حال تغییر آدرس هستید.
                    </div>
                {% endif %}
                <h3 style="font-family: Tahoma,serif;">افزودن آدرس جدید</h3>
                <br>
                <div class="card">
                    <div class="card-body" style="font-family: Tahoma,serif;">
                        <div class="row">
                            <div class="col-sm-12" style="text-align: right;">
                                {{ form.street.label_tag }}
                            </div>
                            <div class="col-sm-3 text-secondary" style="text-align: right;">
                                {{ form.street }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3" style="text-align: right;">
                                {{ form.city.label_tag }}
                            </div>
                            <div class="col-sm-9 text-secondary" style="text-align: right;">
                                {{ form.city }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3" style="text-align: right;">
                                {{ form.state.label_tag }}
                            </div>
                            <div class="col-sm-9 text-secondary" style="text-align: right;">
                                {{ form.state }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3" style="text-align: right;">
                                {{ form.zip_code.label_tag }}
                            </div>
                            <div class="col-sm-9 text-secondary" style="text-align: right;">
                                {{ form.zip_code }}
                                {% if form.zip_code.errors %}
                                    <div class="text-danger">
                                        {{ form.zip_code.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr>

                        <hr>
                        <button type="submit" class="btn btn-primary mt-3" style="font-family: Tahoma, serif;">
                            {% if is_editing %}
                                تغییر آدرس
                            {% else %}
                                افزودن آدرس
                            {% endif %}
                        </button>


                    </div>
                </div>
            </form>

            <h3 class="mt-5" style="text-align: right; font-family: Tahoma,serif;">آدرس‌های موجود</h3>
            <br>
            <div class="card">
                <div class="card-body" style="font-family: Tahoma,serif;">
                    {% for address in addresses %}
                        <div class="address" style="text-align: right; font-family: Tahoma,serif;">
                            <p><strong>خیابان:</strong> {{ address.street }}</p>
                            <p><strong>شهر:</strong> {{ address.city }}</p>
                            <p><strong>استان:</strong> {{ address.state }}</p>
                            <p><strong>کد پستی:</strong> {{ address.zip_code }}</p>
                        </div>
                        <hr>
                        <form method="post" action="{% url 'customers:delete_address' address.id %}"
                              style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">حذف</button>
                        </form>
                        <form method="post" action="{% url 'customers:update-address' address.id %}"
                              style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">تغییر</button>
                        </form>
                    {% empty %}
                        <p style="font-family: Tahoma,serif;">هنوز هیچ آدرسی اضافه نشده است.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

