{% extends 'website/base.html' %}
{% load static %}

{% block header %}
    <!-- Include only the top bar from the header -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar" style="font-family: Tahoma, sans-serif;">
                    ارسال رایگان برای مشتریان پالادیوم
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="{% url 'website:product-list' %}" class="flex-c-m trans-04 p-lr-25"
                       style="font-family: Tahoma, sans-serif; ">
                        صفحه اصلی
                    </a>

                    {% if request.user.is_authenticated %}
                        {% if request.user.is_customer %}
                            <a href="{% url 'customers:profile' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                حساب من
                            </a>
                        {% endif %}
                    {% endif %}


                    {% if request.user.is_authenticated %}
                        <form action="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                              style="font-family: Tahoma, sans-serif;">
                            {% csrf_token %}
                            <a href="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                خروج
                            </a>
                        </form>
                    {% endif %}

                    {# User section #}
                    {% if request.user.is_authenticated %}
                        <div class="flex-c-m trans-04 p-lr-25">
                            {% if request.user.photo %}
                                <img class="rounded-circle" src="{{ request.user.photo.url }}" alt="photo"
                                     width="25">
                            {% else %}
                                <img class="rounded-circle"
                                     src="{% static 'defualt/defualt.jpg' %}" alt="static"
                                     width="25">
                            {% endif %}
                            {% if request.user.username %}
                                {{ request.user.username }}
                            {% elif request.user.phone %}
                                {{ request.user.phone }}
                            {% elif request.user.email %}
                                {{ request.user.email }}
                            {% endif %}

                        </div>
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="flex-c-m trans-04 p-lr-25"
                           style="font-family: Tahoma, sans-serif;">
                            ورود <!-- Login -->
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block slide-section %}
    {#    DO NOT write anything in this block!#}
{% endblock slide-section %}

<!-- banner section -->
{% block banner %}
    {#    DO NOT write anything in this block!#}

{% endblock banner %}
<!-- end banner section -->




{% block content %}

    <br><br><br>

    <div class="container" style="font-family: Tahoma, sans-serif; text-align: right;">
        <div class="main-body mb-3">
            <div class="row gutters-sm">

                <!-- Profile Details Section -->
                <div class="col-md-12">
                    <div class="row">

                        <!-- Order Items Details -->
                        <div class="col-md-8">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="font-family: Tahoma, sans-serif; text-align: right;">اسم محصول</th>
                                    <th style="font-family: Tahoma, sans-serif; text-align: right;">تعداد</th>
                                    <th style="font-family: Tahoma, sans-serif; text-align: right;">قیمت</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if order_items %}
                                    {% for item in order_items %}
                                        <tr>
                                            <td>{{ item.product.name }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3">No items found for this order.</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Profile Photo and Sidebar -->
                        <div class="col-md-4">
                            <div class="card" style="height: 100%">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center mb-4">
                                        {% if request.user.photo %}
                                            <img src="{{ request.user.photo.url }}" alt="profile_photo"
                                                 class="rounded-circle" width="250">
                                        {% else %}
                                            <img src="{% static 'accounts/images/default_profile_photo.png' %}"
                                                 alt="profile_photo" class="rounded-circle" width="250">
                                        {% endif %}
                                    </div>
                                    <div class="list-group" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action custom-active"
                                           id="list-home-list" href="{% url 'customers:profile' %}" role="tab"
                                           aria-controls="list-home">
                                            پروفایل
                                            <img src="{% static 'website/images/icons/icons8-home-20.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list"
                                           href="{% url 'customers:profile-edit' %}" role="tab"
                                           aria-controls="list-profile">تغییر پروفایل
                                            <img src="{% static 'website/images/icons/user.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list"
                                           href="{% url 'website:comment-list' %}" role="tab"
                                           aria-controls="list-profile">نظرات
                                            <img src="{% static 'website/images/icons/user.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list"
                                           href="{% url 'orders:order_history' %}" role="tab"
                                           aria-controls="list-profile">تاریخچه سفارشات
                                            <img src="{% static 'website/images/icons/user.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                        <a class="list-group-item list-group-item-action" id="list-address-list"
                                           href="{% url 'customers:customer-address' %}" role="tab"
                                           aria-controls="list-address">آدرس‌ها
                                            <img src="{% static 'website/images/icons/Address.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).on('click', '.order-item-link', function (event) {
            event.preventDefault();
            const orderId = $(this).data('order-id');
            const url = `/api/v1/list/order/item/customer/${orderId}/`;

            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    if (Array.isArray(data)) {
                        let itemsRows = '';
                        data.forEach(item => {
                            itemsRows += `
                            <tr>
                                <td>${item.id}</td>
                                <td>${item.name}</td>
                                <td>${item.price}</td>
                            </tr>
                        `;
                        });
                        $('#order-items-table tbody').html(itemsRows);
                        $('#orderItemsModal').modal('show');
                    } else {
                        console.error('Unexpected data format:', data);
                    }
                },
                error: function (error) {
                    console.log('Error fetching order items:', error);
                }
            });
        });
    </script>
{% endblock content %}
