{% extends 'website/base.html' %}
{% load static %}

{% block header %}
    <!-- Include only the top bar from the header -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar" style="font-family: Tahoma, sans-serif;">
                    ارسال رایگان برای مشتریان پالادیوم
                </div>

                <div class="right-top-bar flex-w h-full">
                     <a href="{% url 'website:product-list' %}" class="flex-c-m trans-04 p-lr-25"
                       style="font-family: Tahoma, sans-serif; ">
                        صفحه اصلی
                    </a>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_customer %}
                            <a href="{% url 'customers:profile' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                حساب من
                            </a>
                        {% endif %}
                    {% endif %}

                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        EN
                    </a>

                    {% if request.user.is_authenticated %}
                        <form action="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                              style="font-family: Tahoma, sans-serif;">
                            {% csrf_token %}
                            <a href="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                خروج
                            </a>
                        </form>
                    {% endif %}

                    {# User section #}
                    {% if request.user.is_authenticated %}
                        <div class="flex-c-m trans-04 p-lr-25">
                            {% if request.user.photo %}
                                <img class="rounded-circle" src="{{ request.user.photo.url }}" alt="photo"
                                     width="25">
                            {% else %}
                                <img class="rounded-circle"
                                     src="{% static 'defualt/defualt.jpg' %}" alt="static"
                                     width="25">
                            {% endif %}
                            {% if request.user.username %}
                                {{ request.user.username }}
                            {% elif request.user.phone %}
                                {{ request.user.phone }}
                            {% elif request.user.email %}
                                {{ request.user.email }}
                            {% endif %}

                        </div>
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="flex-c-m trans-04 p-lr-25"
                           style="font-family: Tahoma, sans-serif;">
                            ورود <!-- Login -->
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block slide-section %}
    {#    DO NOT write anything in this block!#}
{% endblock slide-section %}

<!-- banner section -->
{% block banner %}
    {#    DO NOT write anything in this block!#}

{% endblock banner %}
<!-- end banner section -->


{% block content %}

    <br><br><br>

    <div class="container" style="font-family: Tahoma, sans-serif; text-align: right;">
        <div class="main-body mb-3">
            <div class="row gutters-sm">

                <div class="col-md-12">
                    <div class="row">

                        <!-- Profile Details -->
                        <div class="col-md-7">

                            <table id="orders-table" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="font-family: Tahoma, sans-serif; text-align: right;">شماره سفارش</th>
                                    <th style="font-family: Tahoma, sans-serif; text-align: right;">قیمت کل</th>
                                    <th style="font-family: Tahoma, sans-serif; text-align: right;">وضعیت سفارش</th>
                                    <th style="font-family: Tahoma, sans-serif; text-align: right;">محصولات شما</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- AJAX will populate this area -->
                                </tbody>
                            </table>
                        </div>

                        <!-- Profile Photo and Sidebar -->
                        <div class="col-md-4">
                            <div class="card" style="height: 100%">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center mb-4">
                                        {% if request.user.photo %}
                                            <img src="{{ request.user.photo.url }}" alt="profile_photo"
                                                 class="rounded-circle" width="250">
                                        {% else %}
                                            <img src="{% static 'accounts/images/default_profile_photo.png' %}"
                                                 alt="profile_photo" class="rounded-circle" width="250">
                                        {% endif %}
                                    </div>
                                    <div class="list-group" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action custom-active"
                                           id="list-home-list" href="{% url 'customers:profile' %}" role="tab"
                                           aria-controls="list-home">
                                            پروفایل
                                            <img src="{% static 'website/images/icons/icons8-home-20.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list"
                                           href="{% url 'customers:profile-edit' %}" role="tab"
                                           aria-controls="list-profile">تغییر پروفایل
                                            <img src="{% static 'website/images/icons/user.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list"
                                           href="{% url 'website:comment-list' %}" role="tab"
                                           aria-controls="list-profile">نظرات
                                            <img src="{% static 'website/images/icons/user.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list"
                                           href="{% url 'orders:order_history' %}" role="tab"
                                           aria-controls="list-profile">تاریخچه سفارشات
                                            <img src="{% static 'website/images/icons/user.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                        <a class="list-group-item list-group-item-action" id="list-address-list"
                                           href="{% url 'customers:customer-address' %}" role="tab"
                                           aria-controls="list-address">آدرس‌ها
                                            <img src="{% static 'website/images/icons/Address.png' %}" alt="Icon"
                                                 class="icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <br><br>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).ready(function () {
            $.ajax({
                url: '/api/v1/list/order/customer',
                method: 'GET',
                success: function (data) {
                    // Check if data is an array
                    if (Array.isArray(data)) {
                        const orders = data;
                        let rows = '';
                        orders.forEach(order => {
                            // Create a link that redirects to the order item detail page
                            let orderItemsLink = `<a href="/orders/order-item-detail/${order.id}/">جزئیات سفارش</a>`;
                            rows += `
                            <tr>
                                <td>${order.id}</td>
                                <td>${order.total_cost}</td>
                                <td>${order.state}</td>
                                <td>${orderItemsLink}</td>
                            </tr>
                        `;
                        });
                        $('#orders-table tbody').html(rows);
                    } else {
                        console.error('Unexpected data format:', data);
                    }
                },
                error: function (error) {
                    console.log('Error fetching orders:', error);
                }
            });
        });

    </script>


{% endblock content %}

