{% extends 'website/base.html' %}
{% load static %}

{% block header %}
    <!-- Include only the top bar from the header -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar" style="font-family: Tahoma, sans-serif;">
                    ارسال رایگان برای مشتریان پالادیوم
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="{% url 'website:product-list' %}" class="flex-c-m trans-04 p-lr-25"
                       style="font-family: Tahoma, sans-serif;">
                        صفحه اصلی
                    </a>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_customer %}
                            <a href="{% url 'customers:profile' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                حساب من
                            </a>
                        {% elif request.user.is_staff %}
                            <a href="{% url 'vendors:profile' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                پنل فروشنده
                            </a>
                        {% endif %}
                    {% endif %}


                    {% if request.user.is_authenticated %}
                        <form action="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                              style="font-family: Tahoma, sans-serif;">
                            {% csrf_token %}
                            <a href="{% url 'accounts:logout' %}" class="flex-c-m trans-04 p-lr-25"
                               style="font-family: Tahoma, sans-serif;">
                                خروج
                            </a>
                        </form>
                    {% endif %}

                    {# User section #}
                    {% if request.user.is_authenticated %}
                        <div class="flex-c-m trans-04 p-lr-25">
                            {% if request.user.photo %}
                                <img class="rounded-circle" src="{{ request.user.photo.url }}" alt="photo"
                                     width="25">
                            {% else %}
                                <img class="rounded-circle"
                                     src="{% static 'defualt/defualt.jpg' %}" alt="static"
                                     width="25">
                            {% endif %}
                            {% if request.user.username %}
                                {{ request.user.username }}
                            {% elif request.user.phone %}
                                {{ request.user.phone }}
                            {% elif request.user.email %}
                                {{ request.user.email }}
                            {% endif %}

                        </div>
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="flex-c-m trans-04 p-lr-25"
                           style="font-family: Tahoma, sans-serif;">
                            ورود <!-- Login -->
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block slide-section %}
    {#    DO NOT write anything in this block!#}
{% endblock slide-section %}

<!-- banner section -->
{% block banner %}
    {#    DO NOT write anything in this block!#}

{% endblock banner %}
<!-- end banner section -->

{% block content %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

        body {
            color: #2c3e50;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }

        {#h3 {#}
        {#    text-align: center;#}
        {#    font-size: 2.5rem;#}
        {#    font-weight: 300;#}


        .card-container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 1rem;
            padding: 1rem;
            margin: 0 auto;
            max-width: 90%;
            justify-content: center; /* Center the cards horizontally */
        }

        .card {
            position: relative;
            width: 12rem;
            border: 1px solid #ddd;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 1rem;
        }

        .card img {
            width: 100%;
            height: auto;
            display: block;
        }

        .card::after {
            position: absolute;
            content: attr(data-rank);
            top: 19px;
            right: -4px;
            padding: 0.5rem;
            width: 6rem;
            background: #3949ab;
            color: white;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
            border-radius: 0.3rem;
            transform: rotate(45deg);
            transform-origin: right bottom;
        }

        .pagination-container {
            margin: 2rem auto;
            text-align: center;
            max-width: 90%;
        }

        .pagination {
            display: inline-block;
        }

        .pagination a {
            position: relative;
            display: inline-block;
            color: #717fe0;
            text-decoration: none;
            font-size: 1.2rem;
            padding: 8px 12px;
            border-radius: 24px;
            transition: all 0.2s;
            background-color: #fff;
            margin: 0 5px;
        }

        .pagination a:hover,
        .pagination .pagination-active {
            color: #fff;
            background-color: #717fe0;
        }

        .pagination a:hover,
        .pagination .pagination-active {
            text-decoration: none;
        }

        .pagination-newer,
        .pagination-older {
            margin: 0 10px;
        }

        .pagination-numbers {
            display: inline-block;
            margin: 0 10px;
        }
    </style>

    <h3 style="font-family: Tahoma, sans-serif;  text-align: center;">پر فروش ترین شرکت ها</h3>

    <div class="card-container">
        {% for company in best_companies %}
            <div class="card" data-rank="#{{ company.rank }}">
                {% if company.logo %}
                    <img src="{{ company.logo.url }}" alt="{{ company.name }} Logo">
                {% else %}
                    <img src="http://placehold.it/150x100" alt="Placeholder Image">
                {% endif %}
            </div>
        {% empty %}
            <p>No companies found.</p>
        {% endfor %}
    </div>

    <nav class="pagination-container">
        <div class="pagination">
            {% if best_companies.has_previous %}
                <a class="pagination-newer" href="?sales_page={{ best_companies.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="pagination-numbers">
                {% for num in best_companies.paginator.page_range %}
                    {% if num == best_companies.number %}
                        <a class="pagination-active" href="?sales_page={{ num }}">{{ num }}</a>
                    {% else %}
                        <a href="?sales_page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            </span>

            {% if best_companies.has_next %}
                <a class="pagination-older" href="?sales_page={{ best_companies.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </nav>


    <h3 style="font-family: Tahoma, sans-serif;  text-align: center;">محبوب ترین شرکت ها</h3>

    <div class="card-container">
        {% for company in best_companies_rate %}
            <div class="card" data-rank="#{{ company.rank }}">
                {% if company.logo %}
                    <img src="{{ company.logo.url }}" alt="{{ company.name }} Logo">
                {% else %}
                    <img src="http://placehold.it/150x100" alt="Placeholder Image">
                {% endif %}
            </div>
        {% empty %}
            <p>No companies found.</p>
        {% endfor %}
    </div>

    <nav class="pagination-container">
        <div class="pagination">
            {% if best_companies_rate.has_previous %}
                <a class="pagination-newer"
                   href="?rate_page={{ best_companies_rate.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="pagination-numbers">
                {% for num in best_companies_rate.paginator.page_range %}
                    {% if num == best_companies_rate.number %}
                        <a class="pagination-active" href="?rate_page={{ num }}">{{ num }}</a>
                    {% else %}
                        <a href="?rate_page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            </span>

            {% if best_companies_rate.has_next %}
                <a class="pagination-older" href="?rate_page={{ best_companies_rate.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </nav>

    <h3 style="font-family: Tahoma, sans-serif;  text-align: center;">جدیدترین شرکت ها</h3>

    <div class="card-container">
        {% for company in newest_companies %}
            <div class="card" data-rank="#{{ company.rank }}">
                {% if company.logo %}
                    <img src="{{ company.logo.url }}" alt="{{ company.name }} Logo">
                {% else %}
                    <img src="http://placehold.it/150x100" alt="Placeholder Image">
                {% endif %}
            </div>
        {% empty %}
            <p>No companies found.</p>
        {% endfor %}
    </div>

    <nav class="pagination-container">
        <div class="pagination">
            {% if newest_companies.has_previous %}
                <a class="pagination-newer"
                   href="?newest_page={{ newest_companies.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="pagination-numbers">
            {% for num in newest_companies.paginator.page_range %}
                {% if num == newest_companies.number %}
                    <a class="pagination-active" href="?newest_page={{ num }}">{{ num }}</a>
                {% else %}
                    <a href="?newest_page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
        </span>

            {% if newest_companies.has_next %}
                <a class="pagination-older" href="?newest_page={{ newest_companies.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </nav>

{% endblock %}







